
<!DOCTYPE html>
<html lang="en">

<head>
<% include head %>
<style>
table#myt caption {
font-size:2rem;
color:#444;
}
table#myt{
border-collapse:collapse;
font-family:Agenda-Light; font-weight:100;
background:#333;color:#fff;
text-rendering:optimizeLegibility;
border-radius:8px;
}
table#myt thead th{ font-weight:600;}
table#myt thead th,table#myt tbody td{
padding: .8rem;font-size:1.4rem;}
table#myt tbody td{
padding:.8rem;font-size:1.4rem;
color:#444;background:#eee;
}
table#myt tbody tr:not(:last-child){
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}
@media screen and (max-width:600px){
table#myt thead{display:none;}
table#myt tbody td{display:block;padding:.6rem;}
table#myt tbody tr td:first-child{background:#333;color:#fff;}
table#myt tbody td:before{
content:attr(data-th);font-weight:bold;
display:inline-block;width:6rem;
}
}

</style> 
</head>
<body class="wrapper">
<header class="haupt-header">
<% include header %>
</header>
<main class="main-wr">
<h1>The Test</h1>


<% if (!user) { %>

	<h2>Welcome! Please log in.</h2>
<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a> |
<a href="/catalog">Catalog</a>
			</p>
<% } else { %>
<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
	<h2>Hello, <%= user.username %>.</h2>
<% } %>
<p>here must be session's messages.</p>
<% if (message) { %>
<p><%= message %></p>
<% } %>

<% if (session) { %>
<p><%= session %></p>
<% } %>

<p><%=title %></p>

<h2>Loop</h2>
<ul>
<% drinks.forEach(function(drink){ %>
<li><%-drink.name %> - <%-drink.drunk %></li><% }); %>
</ul>



</br>






<span id='out'></span></br>


<table id=myt>
<caption>Caption</caption>
<thead><tr><th>tasks</th><th>status</th><th>delete</th></tr></thead>
<tbody id=rs3></tbody></table>




<script>
document.body.onload=gotodb;
document.getElementById('out').innerHTML="";
var dov=document.getElementById('rs3');
var c;
function gotodb(e){
 

var b="<% resul.forEach(function(d){var ds=d.completed; %><tr><td><%= d.task %></td><td><% if(ds === true){%>completed <%= d.completed %><%}else{%>shit - uncompleted!<%}%></td><td></td></tr><%});%>"

dov.innerHTML=b;

    //e.onclick=null;

//document.body.innerHTML=b;
//document.body.write=b;
var ddd=dov.getElementsByClassName('btn-del');
for(var f=0;f<ddd.length;f++){
var dd=ddd[f];
//alert(ddd[1].name);

dd.addEventListener('click',dibk,false);
}
}


function dibk(e){
var target= e && e.target || window.event.srcElement;;
var vevto=target.name;
 alert(vevto);
 // alert(target.parentNode.parentNode.rowIndex);

var xhr=new XMLHttpRequest();
    xhr.open('DELETE','/delete/'+vevto,true);
    
    
xhr.onload=function(e){
if(this.status ==200){
document.getElementById('out').innerHTML=this.response;
}
};

xhr.onerror=function(e){
alert('fucking error');
console.log('fuck');
};

xhr.send();

var drow=target.parentNode.parentNode.rowIndex;
    delrow(drow);
}

function delrow(drow){
document.getElementById('myt').deleteRow(drow);

}
</script>


</br>
</main>
<footer><% include footer %></footer>

</body>
</html>